

.popup{
flex-direction: column;
position: absolute;
left: 330px;
top: 200px;
margin: auto;
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
z-index: 100;
background-color: white;

}

.FoodLover{
    margin:"auto";
    width:"50%";
    /* flex-wrap: wrap; */
    margin: 18px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
}

.Restaurant{    
    margin:"auto";
    width:"50%";
    margin: 18px;
    /* flex-wrap: wrap; */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
    text-align: center;
}


.header{
width: 80%;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    margin: auto;
    margin-top: 5px;
    justify-content: space-between;
}


.social{    
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    gap: 10px;
    margin-right: 5px;
}
.social>p{
    margin-left: "10px";
    cursor: pointer;
}

.twiterlogo>img{
    width: 12%;
    margin: 10px;
    cursor: pointer;
}
.twiterlogo{
    margin-left: 70px;
    margin-top: 13px;

}

.social>p:nth-child(2){
    background-color: rgb(11, 15, 240);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: whitesmoke;
    padding: 1px 3px 1px 3px;
}
.social>p:nth-child(3){
    background-color: gray;
    border-radius: 3px;
    color: whitesmoke;
    padding: 1px 3px 1px 3px;


}
.social>p:nth-child(2):hover,.social>p:nth-child(3):hover{
    color: rgb(170, 167, 167);
}




@media (min-width: 150px) and (max-width: 450px) {
    .headermain{
        width: 90%;
    }

    .logo{
        margin: auto;
    } 
    .social{
        margin: auto;
    }
    .FoodLover{
        flex-wrap: wrap;
    }
    .Restaurant{
        flex-wrap: wrap;
    }
    .image{
        margin: auto;
    }


    
.popup{
    left: 110px;
    top: 200px;
  
    
    }
  

   }



  @media (min-width: 450px) and (max-width: 950px) {
    .headermain{
        width: 100%;
    }
    .logo{
        margin: auto;
    } 
    .social{
        margin: auto;
    } 

    .FoodLover{
        flex-wrap: wrap;
    }
    .Restaurant{
        flex-wrap: wrap;
    }
    
    
.popup{
    flex-direction: column;
    position: absolute;
    left: 220px;
    top: 200px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    z-index: 100;
    background-color: white;
    
    }
    .image{
        margin: auto;
    }
  
  }


    
    