

.container{
    width: 80%;
    margin: auto;
    margin-top: 20px;
        display: grid;
        gap: 40px;
        /* grid-template-columns: repeat(2,1fr); */
        /* grid-template-rows: repeat(2,200px); */
    }
    .box{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        display: flex;
    }
    .box>p{
        text-align: justify;
        margin:   20px 25px;
    }
    .box>h3{
    
        /* margin-left: 0px; */
    }