

.container{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    }
    .box{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        display: flex;
    }
    .box>p{
        text-align: justify;
        margin:   20px 25px;
    }
   

    
@media (min-width: 150px) and (max-width: 450px) {
    .box{
        display: block;
    }


}



  @media (min-width: 450px) and (max-width: 950px) {
    .box{
        display: block;
    }
  
  }