

.singupform{
    display: flex;
width: 70%;    
margin: auto;
justify-content: center;
gap: 30px;
}

.foodsignup,.restrauntsignup,.whykindmeal{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
    margin: 15px;
}


.formDetails{
display: flex;
text-align: center;
gap: 30px;

}
.input{
  padding:8px ;
  position: relative;
  width: 490px;
  border-radius:5px ;
  left: 6px;
  -webkit-border-radius:5px ;
  -moz-border-radius:5px ;
  -ms-border-radius:5px ;
  -o-border-radius:5px ;
}


@media (min-width: 150px) and (max-width: 450px) {

    .formDetails,.singupform{
        flex-wrap: wrap;
    }

   
  }

  @media (min-width: 450px) and (max-width: 950px) {

    .formDetails,.singupform{
        flex-wrap: wrap;
    }

  
  }